<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href='http://fonts.googleapis.com/css?family=Playfair+Display|Ovo|Unica+One|Muli:400,700' rel='stylesheet' />
        {% if config.DEBUG %}
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"/>
        {% else %}
        {{ stylesheet_tag('app_css') | safe }}
        {% endif %}
    </head>
    <body>
        <section>
            <header>
                <hgroup>
                    <h1 class="logotype">eadmundo.com</h1>
                </hgroup>
            </header>
        </section>
        <section>
            <article>
                <header>
                    <h1>An ipython in every virtualenv</h1>
                </header>
                <p>A blog post by Chris Lasher from 2010 explains how you can adjust sys.path as you launch ipython in a virtualenv in order to always have ipython available without having to install it over and over again.</p>
            </article>
        </section>
    </body>
</html>